@page
@model Parking.Pages.ParkingZone.CameraLogs.CreateModel
@{
    ViewData["Title"] = "CameraLogs";
}

<h1 class="display-5">Add CameraLog</h1>
<hr />
<div class="row">
    <form method="post">
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="ViewModel.DeviceId" class="control-label"></label>
                    <input asp-for="ViewModel.DeviceId" class="form-control" />
                    <span asp-validation-for="ViewModel.DeviceId" class="text-danger form-validation-text"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="ViewModel.CameraId" class="control-label"></label>
                    <input asp-for="ViewModel.CameraId" class="form-control" />
                    <span asp-validation-for="ViewModel.CameraId" class="text-danger form-validation-text"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label asp-for="ViewModel.ImagePath" class="control-label"></label>
                    <input asp-for="ViewModel.ImagePath" class="form-control" />
                    <span asp-validation-for="ViewModel.ImagePath" class="text-danger form-validation-text"></span>
                </div>
            </div>
        </div>
        <div class="form-group mt-2">
            <input type="submit" value="CREATE" class="btn btn-sm btn-primary" />
            <a asp-page="Index" class="btn btn-sm btn-outline-primary ms-2">BACK TO LIST</a>
        </div>
    </form>
</div>

<style>
    .card {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
        color: #333;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .text-danger {
        color: #dc3545;
    }

    .form-validation-text {
        font-size: 12px;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-danger {
        background-color: #dc3545;
        color: #fff;
    }
</style>